<footer>
  <div class="container">
    <a href="/" class="logo-font">conduit</a>
    <span class="attribution align-baseline">
      An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code & design licensed under MIT. <a href="sitemap.html">Sitemap</a>
    </span>
  </div>
</footer>
